html {
  &::-webkit-scrollbar {
    width: 11px;
    height: 10px;
    background-color: #d3d3d3;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #2702ff;
  }
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

a:active,
a:hover,
a {
  text-decoration: none;
  color: #000;
}

.app {
  margin: 0 auto;
  width: 98vw;
  max-width: 1280px;

  background-color: #fff;
  border-radius: 10px;

  &-content {
    padding: 40px 55px;
    min-height: calc(100vh - 200px);
    margin-bottom: 10px;
    @media (max-width: 800px) {
      min-height: calc(100vh - 178px);
      padding: 10px 25px;
    }
    @media (max-width: 600px) {
      padding: 0px 2px;
    }
  }

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 70px;
    z-index: 10;
    -webkit-box-shadow: 0px 0px 9px -1px rgba(3, 5, 6, 0.24);
    -moz-box-shadow: 0px 0px 9px -1px rgba(3, 5, 6, 0.24);
    box-shadow: 0px 0px 9px -1px rgba(3, 5, 6, 0.24);

    @media (max-width: 800px) {
      padding: 15px 35px;
    }

    &__image-link {
      width: 30px;
      height: 30px;
      @media (max-width: 800px) {
        width: 25px;
        height: 25px;
      }
    }
  }

  &-main {
    display: flex;
    flex-direction: column;

    &-pagination {
      margin-top: 40px;
      display: flex;
      justify-content: space-evenly;
      list-style-type: none;
      @media (max-width: 700px) {
        margin-top: 22px;
      }
      @media (max-width: 600px) {
        margin-top: 19px;
      }
      &__page {
        &-link {
          font-weight: 500;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 40px;
          height: 40px;
          border: solid 1px #2702ff;
          border-radius: 50%;
          cursor: pointer;
          transition: all 0.2s ease;

          @media (max-width: 700px) {
            width: 30px;
            height: 30px;
            font-size: 14px;
          }

          &:hover {
            background-color: #2702ff;
            color: white;
          }

          &__active {
            background-color: #2702ff;
            color: white;
          }
        }
      }
      &__break {
        border: none;
      }
    }
  }

  &-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 35px;
    z-index: 3;
    -webkit-box-shadow: 0px 0px 10px 3px rgba(34, 60, 80, 0.16);
    -moz-box-shadow: 0px 0px 10px 3px rgba(34, 60, 80, 0.16);
    box-shadow: 0px 0px 10px 3px rgba(34, 60, 80, 0.16);
  }

  &-not-found {
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 850px) {
      flex-direction: column;
    }
  }
}
