* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.app {
  margin: 0 auto;
  width: 100vw;
  max-width: 1280px;
  background-color: #fff;
  border-radius: 10px;
  &-content {
    padding: 40px 55px;
    @media (max-width: 800px) {
      padding: 10px 25px;
    }
    @media (max-width: 600px) {
      padding: 0px 2px;
    }
  }

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 70px;
    -webkit-box-shadow: 0px 0px 9px -1px rgba(3, 5, 6, 0.24);
    -moz-box-shadow: 0px 0px 9px -1px rgba(3, 5, 6, 0.24);
    box-shadow: 0px 0px 9px -1px rgba(3, 5, 6, 0.24);

    @media (max-width: 800px) {
      padding: 15px 35px;
    }
  }

  &-main {
    display: flex;
    flex-direction: column;
  }
}
